{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to IphoneUtils App</title>
</head>
<body>
    <h2>Welcome to IphoneUtils App, {{ user }}!</h2>
    
    <p>
        Thank you for joining our community. We are excited to have you on board.
    </p>

    <p>
        To access the API and explore the features, follow the steps below:
    </p>

    <ol>
        <li>Scan the QR codes provided below using your device's camera:</li>
    </ol>

    <!-- Add QR code images from static files directory -->
    <img src="{% static 'register/qr_code_image1.png' %}" alt="QR Code 1">
    <img src="{% static 'register/qr_code_image2.png' %}" alt="QR Code 2">

    <p>
        Once you've scanned the QR codes, you'll be ready to use the shortcuts and enjoy the IphoneUtils App!
    </p>

    <p>
        If you have any questions or need assistance, feel free to reach out to our support team.
    </p>

    <p>
        Best regards,<br>
        The IphoneUtils Team
    </p>
</body>
</html>
